.about-me {
    background-color: #f8f9fa; /* Цвет фона */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень */
    transition: box-shadow 0.3s ease; /* Плавное изменение тени */
  }
  
  .about-me:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
  }
  
  .about-me h2 {
    color: #343a40; /* Цвет заголовка */
    margin-bottom: 20px; /* Отступ снизу для заголовка */
    font-size: 24px; /* Размер шрифта заголовка */
    text-transform: uppercase; /* Преобразование текста заголовка в верхний регистр */
  }
  
  .about-me p {
    color: #6c757d; /* Цвет текста */
    line-height: 1.8; /* Межстрочный интервал */
    font-size: 16px; /* Размер шрифта текста */
  }
  